/* Navbar*/
.nav{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav a{
    text-decoration: none;
    color: black;
}

.links{
    display: flex;
    gap: 1rem;
}

/* Home */
.home{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 620px) {
    .links{
        flex-direction: column;
    }
}