:root {
  --in-stock: #a6feba;
  --out-of-stock: #fbcdd2;
}

.btn {
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.05) translateY(-3px);
}

/* Navbar*/
.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  gap: 1rem;
}

/* Home */
.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeBooksBtn {
  background-color: #16ba00;
}

/* Card */
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.stock {
  background-color: var(--in-stock);
}
.no-stock {
  background-color: var(--out-of-stock);
}

/* Books */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

td:last-child{
  text-align: center;
}

tr{
  transition: background-color 0.1s ease-in-out;
}

tr:hover {
  background-color: #f5f5f5;
}
.col {
  cursor: pointer;
}

.addBtn {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Category */
.categoryContainer {
  list-style: none;
  text-align: left;
  padding: 0;
  padding-top: 3rem;
  margin: 0;
}

.category {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Form */
.formActionButton {
  padding: 0.5rem 1rem;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: fit-content;
}

.formActionButton:hover {
  transform: scale(1.05) translateY(-3px);
}
.edit {
  background-color: #f0ad4e;
}

/* Book edit form */

input, textarea, select {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  width: fixed-;
}

.bookEditForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.bookEditForm p{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media (max-width: 620px) {
  .links {
    flex-direction: column;
  }
}
